<a href="./todos/new">Create</a>

{{!-- ""  _id  "" 是mongo DB 建立的流水號 --}}

<ul>
    {{#each todos}}
    <li>
        {{this.name}}
        <a href="./todos/{{this._id}}">detail</a>
        <a href="./todos/{{this._id}}/edit">edit</a>
    </li>
    {{/each}}
</ul>